﻿

@model PagueVeloz.Models.FornecedorPageModel
@using PagueVeloz.Models


@{
    ViewBag.Title = "Index";
}

<h2>Fornecedores</h2>


<h1>@ViewData["Msg"]</h1>

@using (Html.BeginForm("Index", "Fornecedor", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Cadastro de Fornecedores</legend>
        <div>
            @Html.Label("Empresas")
            @Html.DropDownList("Empresas",
                        ViewBag.SelectListEmpresas as SelectList,
                        "--Selecione uma empresa--",
                        new { @class = "form-control", @id = "Empresas" })
            @Html.ValidationMessage("Empresas")


            <input type="hidden" id="lbEmpresas" name="lbEmpresas" value="@ViewBag.emp_id" />
        </div>
        <div class="editor-field">

        </div>
        <div class="editor-label">
            @Html.Label("Nome")
        </div>
        <div class="editor-label">
            @Html.EditorFor(model => model.fornecedor.for_nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome" } })
                @Html.ValidationMessageFor(model => model.fornecedor.for_nome)
        </div>
        <div class="editor-label">
            @Html.Label("Tipo da Empresa")

        </div>
        <div>
            @Html.DropDownList("TipoEmpresa",
                        ViewBag.TipoEmpresa as SelectList,
                        new { @class = "form-control" , @id= "TipoEmpresa"})

        </div>
        <div class="editor-field">
            <div id="panelCPF">
                <div>
                    @Html.Label("CPF ")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.fornecedorCPF.for_CPF, new { htmlAttributes = new { @class = "form-control", @placeholder = "(___.___.___-__)" } })
                    @Html.ValidationMessageFor(model => model.fornecedorCPF.for_CPF)
                </div>
                <div>
                    @Html.Label("RG")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.fornecedorCPF.for_RG, new { htmlAttributes = new { @class = "form-control", @placeholder = "RG" } })
                    @Html.ValidationMessageFor(model => model.fornecedorCPF.for_RG)
                </div>
                <div>
                    @Html.Label("Data de Nascimento")
                </div>
                <div>
                    @Html.TextBoxFor(model => model.fornecedorCPF.for_nascimento, "{0:dd/MM/yyyy HH:mm}", htmlAttributes: new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(model => model.fornecedorCPF.for_nascimento)

                </div>
            </div>

            <div id="panelCNPJ" hidden>
                <div>
                    @Html.Label("CNPJ ")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.fornecedorCNJP.for_cnpf , new { htmlAttributes = new { @class = "form-control", @placeholder = "(__.___.___/____-__)" } })
                    @Html.ValidationMessageFor(model => model.fornecedorCNJP.for_cnpf)
                

                </div>
            </div>

        </div>
        <div class="editor-label">
            @Html.Label("Telefones")
        </div>
        <div class="editor-field">
            @Html.TextArea("Telefones", new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefones" } })
        </div>
        <br />
        <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="submit" class="btn btn-danger">Limpar</button>
        </div>

    </fieldset>
    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#TipoEmpresa").change(function () {

                if ($("#TipoEmpresa Option:Selected").text() == "Pessoa Física") {
                    $("#panelCNPJ").hide();
                    $("#panelCPF").show();
                } else {
                    $("#panelCNPJ").show();
                    $("#panelCPF").hide();
                }
            })
        })

       
    </script>
        <script>
             $(document).ready(function () {
                 $("#Empresas").change(function () {
                     $("#lbEmpresas").val($("#Empresas Option:Selected").val().toString());
            })
        })
        </script>
    }


}

