﻿@using PagueVeloz.Models
@model IEnumerable<PagueVeloz.Models.FornecedorPageModel>



@{
    ViewBag.Title = "Lista";
}

<h2>Lista de Fornecedores</h2>
<div class="form-group row">
    <div class="col-sm-10">

        @Html.DropDownList("Filtros", 
                                    ViewBag.filtros as SelectList,
                                    new { @class = "form-control col-sm-10", @id = "Filtros" })

        <button type="submit" class="btn btn-primary" onclick="redirect()">Aplicar Filtro</button>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome Fantasia</th>
            <th scope="col">UF</th>
            <th scope="col">Nome da Empresa</th>
            <th scope="col">CPF/CNPJ</th>
            <th scope="col">Data do Cadastro</th>
        </tr>
    </thead>
    <tbody>

        @foreach (PagueVeloz.Models.FornecedorPageModel Item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(mItem => Item.fornecedor.for_id) </td>
                <td>@Html.DisplayFor(mItem => Item.fornecedor.for_nome) </td>
                <td>@Html.DisplayFor(mItem => Item.empresa.emp_uf) </td>
                <td>@Html.DisplayFor(mItem => Item.empresa.emp_nome) </td>
                @if (Item.fornecedorCPF != null)
                {

                    <td>@Html.DisplayFor(mItem => Item.fornecedorCPF.for_CPF) </td>
                }
                else
                {
                    <td>@Html.DisplayFor(mItem => Item.fornecedorCNJP.for_cnpf) </td>
                }

                <td>@Html.DisplayFor(mItem => Item.fornecedor.for_data_cad) </td>
            </tr>
        }
    </tbody>

</table>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
    <script type="text/javascript">
        function redirect() {
            if($("#Filtros Option:Selected").val().toString()=="Nome da Empresa")
                location.href = "/Fornecedor/Lista?Filtro=Nome";
            else
                if ($("#Filtros Option:Selected").val().toString() == "Data Cadastro")
                    location.href = "/Fornecedor/Lista?Filtro=Data";
                else
                    location.href = "/Fornecedor/Lista?Filtro=CPF";


                

        }

    </script>


