﻿

@model PagueVeloz.Empresa  

@{
    ViewBag.Title = "Index";
}

<h2>Empresas</h2>


<h1>@ViewData["Msg"]</h1>

@using (Html.BeginForm("Index","Empresa",FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Cadastro de Empresa</legend>
        <div>
            @Html.LabelFor(model => model.emp_nome)
        </div>
        <div class="editor-field">
                @Html.EditorFor(model => model.emp_nome,new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome fantasia" } })
                @Html.ValidationMessageFor(model => model.emp_nome)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model=> model.emp_uf)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.emp_uf,
                    new SelectList(Enum.GetValues(typeof(Estados))),
                    "Selecione o Estado",
                    new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.emp_uf)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.emp_cnpj)

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.emp_cnpj , new { htmlAttributes = new { @class = "form-control", @placeholder = "(__.___.___/____-__)" } })
            @Html.ValidationMessageFor(model => model.emp_cnpj)


        </div>
        <br />
        <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>

    </fieldset>
    @section Scripts{ 
        @Scripts.Render("~/bundles/jqueryval")
        };      

    }

